node_modules
bower_components
release
vendor
phpunit.xml
.idea
uploads
upgrade
cache
payload
dist
db.php

# Ignore all files and directories in the plugins directory
plugins/*

# Project Files
backstop_data

# Editors
*.esproj
*.tmproj
*.tmproject
tmtags
.*.sw[a-z]
*.un~
Session.vim
*.swp
.vscode/launch.json
tasks.json
.phpcs.xml.dist

# Mac OSX
.DS_Store
._*
.Spotlight-V100
.Trashes

# Windows
Thumbs.db
Desktop.ini
/debug.log

themes/*/.nvmrc
themes/*/.npmrc

# Dev & Tests
sandbox

