:root {
	--font-line-height-sm: 1;
	--font-line-height-md: 1.1;
	--font-line-height-lg: 1.4;
	--font-weight-normal: 400;
	--font-weight-semibold: 600;
	--font-weight-bold: 700;
}

p.is-sm {
	font-size: var(--wp--preset--font-size--small);
}

p.is-lg {
	font-size: var(--wp--preset--font-size--large);
}
