:root {
	--font-line-height-sm: 1;
	--font-line-height-md: 1.1;
	--font-line-height-lg: 1.4;
	--font-weight-normal: 400;
	--font-weight-semibold: 600;
	--font-weight-bold: 700;
}

p.is-sm {
	font-size: var(--wp--preset--font-size--small);
}

p.is-lg {
	font-size: var(--wp--preset--font-size--large);
}

a {
	color: var(--wp--preset--color--off-white);
	font-weight: var(--font-weight-bold);
	text-decoration-line: underline;
	transition: color 0.3s ease-in-out;

	&:hover {
		color: var(--wp--preset--color--purple-500);
		text-decoration-line: underline;
	}

	&:focus {
		outline: 2px solid var(--wp--preset--color--purple-300);
		text-decoration: none;
	}
}
